* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5;
	min-width: 320px;
}

nav,
footer {
	padding: 1% 0;
	background-color: #aaa;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

header {
	padding: 45px 15px;
}

section {
	min-height: 200px;
	padding: 30px 15px;
	background-color: #bbb;
	padding: 0;
	text-align: center;
}

button {
	margin-bottom: 50px;
	height: 3.5rem;
	width: 7.5rem;
	margin: 1rem 1rem 0 1rem;
}

.back-button {
	background-color: #cacaca;
	border-radius: 30px;
	border: 0;
	color: black;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	padding: 8px 8px 8px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	cursor: pointer;
}

h2 {
	font-weight: 700;
	font-size: 20px;
}

form {
	margin: 0 auto;
	padding: 0 0 40px;
	max-width: 650px;
	text-align: left;
}

label p {
	margin: 6px 0 23px;
}

label {
	display: block;
}

.form-section {
	margin-bottom: 30px;
}

.button-section {
	padding: 0 0 0 15px;
}

.form-section input,
.form-section textarea {
	width: 100%;
}

label p {
	margin: 6px 0 23px;
}

form {
	text-align: left;
}

label {
	display: block;
}

.form-section {
	margin-bottom: 30px;
}

.button-section {
	padding: 0 0 0 15px;
}

.form-section input,
.form-section textarea {
	width: 100%;
}

button {
	margin-bottom: 50px;
}

.form-section {
	margin-bottom: 30px;
}

.button-section {
	padding: 0 0 0 15px;
}

.form-section input,
.form-section textarea {
	width: 100%;
}
